* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: rgb(220, 241, 213);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0, 06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar li {
    list-style: none;
    padding: 0 20px;
  }
  #navbar li a {
    text-decoration: none;
    font-size: 15;
    font-weight: 600;
    color: rgb(19, 19, 19);
    transition: 0.3s ease;
  }
  #navbar li a:hover {
    color: rgb(43, 146, 43);
  }
  #mobile {
    display: none;
    align-items: center;
  }
  #close {
    display: none;
  }
  #header .logo {
    width: 120px;
  }
  
  .main-content {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .category-name {
    padding-top: 70px;
    padding-left: 30px;
  }
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
  }
  /* .products-count {
    font-size: 18px;
    font-weight: bold;
  } */
  .sorting-container {
    display: flex;
    align-items: center;
  }
  .sorting-container label {
    margin-right: 10px;
  }
  .sorting-container select {
    padding: 5px;
  }
  
  .middle-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 50px;
  }
  
  .filter-section {
    flex: 0 0 130px;
  }
  
  .filter-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .filter-section label {
    display: block;
    margin-bottom: 20px;
  }
  
  .product-grid .card {
    width: 90%;
    padding: 10px 12px;
    border: 1px solid #ebeceb;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
  }
  
  .product-grid .card:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }
  
  .product-grid .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .product-grid .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    margin: 10px 0;
    line-height: 1.5;
    text-align: start;
  }
  
  .product-grid .card .card-body h5 {
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #43b581;
  }
  .card-title {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
  }
  
  .product-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  .success-alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #43b581;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    z-index: 9999;
  }
  
  .add-to-cart-btn {
    text-align: center;
    padding: 10px 20px;
    background-color: #43b581;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #24a059;
  }
  
  .add-to-cart-btn:focus {
    outline: none;
  }
  .no-products-message {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #888;
  }
  
  .load-more-container {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
  }
  .load-more-btn {
    padding: 10px 20px;
    background-color: #7e7e7e;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .load-more-btn:hover {
    background-color: #424242;
  }
  .load-more-btn:focus {
    outline: none;
  }
  
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(220, 241, 213);
    padding-top: 100px;
  }
  footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  footer .footer-logo {
    width: 50px;
    margin-bottom: 30px;
  }
  footer h4 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  footer p {
    font-size: 15px;
    margin: 0 0 8px 0;
  }
  footer a {
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
  }
  footer .follow {
    margin-top: 20px;
  }
  footer .follow i {
    padding-right: 10px;
    cursor: pointer;
  }
  
  footer .install .row img {
    width: 200px;
    height: 100px;
  }
  .secure-pay {
    width: 400px;
  }
  .section-p1 {
    padding: 40px 80px;
  }
  footer .copyright {
    width: 100%;
    text-align: center;
  }
  @media (max-width: 1024px) {
    .middle-row {
      margin: 50px 20px;
    }
  
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  
    .filter-section {
      flex: 0 0 100px;
    }
  }
  
  @media (max-width: 767px) {
    /* Header */
    #header {
      padding: 10px 20px;
    }
  
    #header .logo {
      width: 40px;
    }
  
    #mobile {
      display: flex;
      align-items: center;
    }
  
    #close {
      position: absolute;
      top: 15px;
      left: 15px;
      color: #222;
      font-size: 24px;
      display: initial;
    }
  
    /* Navbar */
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      left: -100%;
      height: 38vh;
      width: 100%;
      background-color: #e3e6f3;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.3s;
    }
  
    .active #navbar {
      left: 0;
    }
  
    #navbar li {
      margin-bottom: 15px;
    }
  
    /* Middle Row */
    .middle-row {
      margin: 50px 20px;
      display: block;
    }
    .category-name {
      font-size: 18px;
      font-weight: bold;
      padding: 0 20px;
    }
    .top-row {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      padding: 0;
    }
  
    .filter-section {
      flex: 1;
      margin-bottom: 30px;
      padding: 0 20px;
    }
    .filter-section h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .product-grid {
      grid-template-columns: repeat(
        1,
        1fr
      ); /* Change to a single column layout */
      gap: 20px; /* Increase the gap between product cards */
    }
    .sorting-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 20px;
    }
    .sorting-container label {
      margin-right: 10px;
      font-size: 14px;
    }
    .sorting-container select {
      padding: 5px;
      font-size: 14px;
    }
  
    /* Footer */
    footer {
      padding-top: 50px;
    }
  
    .footer-logo {
      width: 30px;
    }
  
    footer .col {
      margin-bottom: 30px;
    }
  
    footer h4 {
      font-size: 18px;
    }
  
    footer p {
      font-size: 14px;
    }
  
    footer a {
      font-size: 14px;
      margin-bottom: 8px;
    }
  
    footer .follow i {
      padding-right: 8px;
    }
  
    footer .install .row img {
      width: 150px;
      height: 75px;
    }
  
    .secure-pay {
      width: 200px;
    }
  
    footer .copyright {
      font-size: 14px;
    }
  }